{
	admin off
}

:8081 {
	bind 127.0.0.1
	respond /health 200
}

{$APP_DOMAIN} {
	log {
		output stdout
		format filter {
			wrap json
			fields {
				request>uri query {
					delete token
				}
				request>headers>Referer delete
			}
		}
	}
	encode zstd gzip

	@backend path /api /api/*
	handle @backend {
		reverse_proxy api:8080
	}
	handle {
		reverse_proxy frontend:3000
	}
}
